p {
  margin: 0;
}

a {
  text-decoration: none;
}

.bordered {
  border: 1px dotted black;
}

.gray {
  color: #eaecf0;
}

.bg-gray {
  background-color: #eaecf0;
}
.gray-alt {
  color: #667085;
}

.bg-gray-alt {
  background-color: #667085;
}

.black {
  color: #101828;
}

.bg-black {
  background-color: #101828;
}

.regular {
  font-family: regular;
}

.bold {
  font-family: bold;
}
