.page-padding {
  padding: 156px 360px;
}

.error {
  color: #f83f23;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.hide {
  animation: hideAnimation 0s ease-in 5s;
  animation-fill-mode: forwards;
}

@keyframes hideAnimation {
  to {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

@media screen and (max-width: 768px) {
  .page-padding {
    padding: 64px 16px;
  }
}
