.header-padding {
  padding: 64px 144px 56px 144px;
}

.profile-img {
  background: url("../assets/images/profile-img.svg") no-repeat;
}

.profile-img:hover {
  background: url("../assets/images/profile-img-alt.svg") no-repeat;
}

/*  Rollover image styles  */
.figure {
  position: relative;
  max-width: 100%;
}

.figure:hover img.image-main {
  opacity: 0;
}
.figure img.image-hover {
  position: absolute;
  object-fit: contain;
  opacity: 0;
  transition: opacity 0.2s;
}

.figure:hover img.image-hover {
  opacity: 1;
}

.figure img.image-hov {
  position: absolute;
  object-fit: contain;
  opacity: 0;
  transition: opacity 0.2s;
}

.figure:hover img.image-hov {
  opacity: 1;
}

.share-pos {
  position: absolute;
  top: 44px;
  right: 352px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

@media screen and (max-width: 768px) {
  .header-padding {
    padding: 64px 16px 32px 16px;
  }

  .share-pos {
    position: absolute;
    top: 44px;
    right: 16px;
  }

  .hide {
    display: block;
  }

  .show {
    display: none;
  }

  .figure img.image-hover {
    display: none;
  }
}
