p {
  margin: 0;
}

a {
  text-decoration: none;
}

.bordered {
  border: 1px dotted black;
}

.gray {
  color: #eaecf0;
}

.bg-gray {
  background-color: #eaecf0;
}

.black {
  color: #101828;
}

.bg-black {
  background-color: #101828;
}
